body{
    background-color:#232323;
    font-family:Trebuchet MS;
}
img{
    margin-left: 30.5%;
    width:40%;
}
u{
    color:rgb(233, 227, 227);
    font-size:400%;
    display:flex;
    justify-content:center;
    align-items:center; 
}